.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-a-4jk8jvR);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: auto;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    display: none;
  }
}
.sidebarMenuItem__n8Nb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___8FdB7 {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.sidebarMenuItem__nFdsI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cisLk {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.sidebarMenuItem__mOAmg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hiAnY {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__fVKw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.navbarCuan:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  right: 0px;
  min-width: 0;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 60rem;
  min-width: 0;
  padding: 16px 16px 32px;
}
.columns__hlQ4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hlQ4 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__hlQ4 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__hlQ4 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hlQ4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hlQ4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hikQ1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hikQ1 {
    justify-content: center;
    align-items: flex-start;
  }
}
.indicatorSmall__q8ILr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox__unTrn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: var(--token-dcmZsnAlU);
  border-radius: 100px;
}
.svg__azp87 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token--LkGk7nHS);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox__o88E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__mLbRr {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.heading__fFsgx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__kVpzs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hRP_K9T8V);
  min-width: 0;
}
.column___1QsIr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1QsIr {
    justify-content: center;
    align-items: flex-start;
  }
}
.indicatorSmall__mDqfl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.freeBox__mjWxC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 48px;
  background: var(--token-dcmZsnAlU);
  border-radius: 100px;
}
.svg___8BfjA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token--LkGk7nHS);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox___1Ljh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__boujw {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-size: 14px;
  font-weight: 500;
  padding-right: 0px;
  white-space: pre;
  min-width: 0;
}
.heading__euwSn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__zAs3B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hRP_K9T8V);
  min-width: 0;
}
.column___8EwqN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8EwqN {
    justify-content: center;
    align-items: flex-start;
  }
}
.indicatorSmall__llNx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ohhrF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: var(--token-dcmZsnAlU);
  border-radius: 100px;
}
.svg__dRtLs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token--LkGk7nHS);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox__fTdrU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__llAm9 {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.heading__vuhsz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___8CjbW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hRP_K9T8V);
  min-width: 0;
}
.freeBox__tq4Ex {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px;
}
.heading__sASy0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-T77o0Qanr);
}
.text__aueXo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.columns__dqlV {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__dqlV > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__dqlV > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__dqlV > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__dqlV > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__dqlV > :global(.__wab_flex-container) > *,
.columns__dqlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dqlV > :global(.__wab_flex-container) > picture > img,
.columns__dqlV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dqlV {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dqlV > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dqlV > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dqlV > :global(.__wab_flex-container) > *,
  .columns__dqlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dqlV > :global(.__wab_flex-container) > picture > img,
  .columns__dqlV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__jxRq4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productCard___3PRye:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__aKv3V {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__aKv3V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__aKv3V > :global(.__wab_flex-container) > *,
.freeBox__aKv3V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aKv3V > :global(.__wab_flex-container) > picture > img,
.freeBox__aKv3V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg___5Jn3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  color: var(--token-pMpR7kprH);
  flex-shrink: 0;
}
.freeBox__r1H4V {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__r1H4V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__r1H4V > :global(.__wab_flex-container) > *,
.freeBox__r1H4V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r1H4V > :global(.__wab_flex-container) > picture > img,
.freeBox__r1H4V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.heading__rz1Sy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__ffjX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__sSjM {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sSjM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sSjM > :global(.__wab_flex-container) > *,
.freeBox__sSjM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSjM > :global(.__wab_flex-container) > picture > img,
.freeBox__sSjM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.heading__oGuU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token--daeQiwpY);
}
.text__kgp4S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__x91Fc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  color: var(--token-S3JQh7msC);
}
.freeBox__yl5CF {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yl5CF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__yl5CF > :global(.__wab_flex-container) > *,
.freeBox__yl5CF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yl5CF > :global(.__wab_flex-container) > picture > img,
.freeBox__yl5CF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__fwuTu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jGuh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__sBn5L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__hx6D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__ferbb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___8MKs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__fWsZu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-yliz0j49T);
}
.text__kF0ZW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___1JuBk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xosd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__ob2MF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text___2VCbl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__vNwS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productCard__jj0A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__v0Kys {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__v0Kys > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__v0Kys > :global(.__wab_flex-container) > *,
.freeBox__v0Kys > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v0Kys > :global(.__wab_flex-container) > picture > img,
.freeBox__v0Kys
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__qwXus {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  color: var(--token-pMpR7kprH);
  flex-shrink: 0;
}
.freeBox__pTkUy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pTkUy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pTkUy > :global(.__wab_flex-container) > *,
.freeBox__pTkUy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pTkUy > :global(.__wab_flex-container) > picture > img,
.freeBox__pTkUy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.heading__sFq55:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__bz5Be {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__rl1Sz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rl1Sz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rl1Sz > :global(.__wab_flex-container) > *,
.freeBox__rl1Sz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rl1Sz > :global(.__wab_flex-container) > picture > img,
.freeBox__rl1Sz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.heading__oVueG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token--daeQiwpY);
}
.text__jqbu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__c6Tfv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  color: var(--token-S3JQh7msC);
}
.freeBox__eWx5E {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eWx5E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__eWx5E > :global(.__wab_flex-container) > *,
.freeBox__eWx5E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eWx5E > :global(.__wab_flex-container) > picture > img,
.freeBox__eWx5E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox___8Gp2G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tnqDb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__meZ4S:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__mbkG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___6EPGg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__za42W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__cvWvm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-yliz0j49T);
}
.text__wpZ0U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__nZfLw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fJ9Dy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading___0FMhm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__dCIsO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__riyF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productCard__xsCoK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__u3Nd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__u3Nd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__u3Nd > :global(.__wab_flex-container) > *,
.freeBox__u3Nd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u3Nd > :global(.__wab_flex-container) > picture > img,
.freeBox__u3Nd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__hGgEt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  color: var(--token-pMpR7kprH);
  flex-shrink: 0;
}
.freeBox__rjQ8E {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rjQ8E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rjQ8E > :global(.__wab_flex-container) > *,
.freeBox__rjQ8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjQ8E > :global(.__wab_flex-container) > picture > img,
.freeBox__rjQ8E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.heading__rSj1W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__vcYUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__zyYaO {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zyYaO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zyYaO > :global(.__wab_flex-container) > *,
.freeBox__zyYaO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zyYaO > :global(.__wab_flex-container) > picture > img,
.freeBox__zyYaO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.heading___3Nqh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token--daeQiwpY);
}
.text__jjwJv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___8PBpD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  color: var(--token-S3JQh7msC);
}
.freeBox__eNXxu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eNXxu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__eNXxu > :global(.__wab_flex-container) > *,
.freeBox__eNXxu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eNXxu > :global(.__wab_flex-container) > picture > img,
.freeBox__eNXxu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__pRpTe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3VUO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__mRgBd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__a3Cmr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__cCdot {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tm4IT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__sHlr5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-yliz0j49T);
}
.text__ms3ZH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__cfN5H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cud2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-S3JQh7msC);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.heading__kxblp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-T77o0Qanr);
}
.text__iCqbF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
